button{
    padding: 9px;
 }

#foto{
    float: right;
}

.lali {
    background: #d6b5e6;
    padding: 18px;
}

ul li a{
    padding: 10px;
    text-decoration-line: none;
}

ul {
    font-size: 22px;
    background: blueviolet;
    padding: 20px;
}

ul.nav li a:hover {
    color: rgb(31, 13, 0);
}

a:link {
    color: #ceb5d8bd;
}
a:visited {
    color: white;
}

table {
    border-collapse: collapse;
}

ul.nav li {
    display: inline;
}